/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 Apr 2023, 12:19:27 am
    Author     : zhangyao
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f2f2f2;
}

h1 {
    margin: 20px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

form {
    margin: 20px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    margin-bottom: 10px;
}

i.fa-solid {
    margin-right: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    font-size: 16px;
}

a:hover {
    text-decoration: underline;
}